.sidebar {
    text-align: left;
    height: 100vh; 
    width: 15%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #191414; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;

}

.sidebar button,
a,
h2 {
    margin-left: 8%;
}

.sidebar a,
.subheading {
    color: #b3b3b3;
}

.sidebar a:hover {
    color: #fff;
}

.sidebar .subheading {
    font-family: "Nunito Sans", sans-serif;
    font-size: small;
    margin-bottom: -0.2em;
}

.sidebar li {
    line-height: 2em;
}

.sidebar-scrollable {
    margin-top: 1em;
    margin-bottom: 1em;

    overflow-y: scroll;
}

.sidebar .create-playlist {
    position: fixed;
}
