.title {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: normal;
  padding-left: 0.75rem;
  margin-bottom: 0;

  // unselectable
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.olDefault {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}
