.newBtn {
  border: none;
  border-top: 1px solid #b2b2b2;
  outline: none;
  //   background: none;
  width: 100%;
  height: 4rem;
  color: #b2b2b2;
  cursor: pointer;
  .content {
    // justify-content: center;
    font-size: 1rem;

    svg {
      display: inline-block;
      font-size: 2rem;
    }

    span {
      display: block;
      margin: auto;
      line-height: 2rem;
    }
  }

  &:hover {
    display: inline-block;
    color: #fff;
  }
}

.newBtn {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  display: inline-flex;
  color: #b3b3b3;
  margin: 0.5rem 0;

  .sectionIcon {
    font-size: 1.25rem;
    margin: 0 0.75rem;
  }

  &.section-selected .sectionIcon {
    margin-left: 0.5rem;
  }

  .sectionText {
    align-self: center;
    font-weight: bold;
  }

  &:hover {
    color: #fff;
  }
}
