/* Global Stuff for App */
.boxed {
  outline-width: 2px;
  outline-style: solid;
  outline-color: red;
}

.option-button {
  background-color: transparent;
  border-color: transparent;
  color: white;
  font-size: 1.5em;
}

.bold-text {
  font-weight: 700;
}

/* ========
For App.js 
========*/

.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
